.main-container {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.button {
    padding: 0.5rem;
    margin-top: 2rem;
    background-color: rgb(72, 81, 253);
    border-radius: 0.3rem;
    border-style: solid;
    border: white;
    color: white;
    transition: 0.3s;
}

.button:hover {
    color: rgb(72, 81, 253);
    background-color: white;
    transition: 0.3s;
    border-style: solid;
    border-color: rgb(72, 81, 253);
    border-radius: 0.3rem;
}

.button:disabled {
    opacity: 0.5;
}